<footer class="footer">
    <div class="content has-text-centered">HACKBU 2023
    <p class="text is-size-7">
        Built using MERN and Bulma. This website was developed by Apoorv Yadav, Anmol Pal and Bhavit Shah for HackBU 2023.
    </p>
</div>
</footer>