<header>
    <nav>
        <a href="/">Bing Quiz</a>
        <ul>
            <li><a href="/quiz/">Quizzes</a></li>
            <li><a href="/quiz/submitted">Past Quizzes</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>