<h1>Hello <%= user.name  %> </h1>
<div>
    <h2>
        Instructor Options
    </h2>
    <nav>
        <ul>
            <li><a href="/quiz/">All Quizzes</a></li>
            <li><a href="/quiz/new">Create Quiz</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <ul>

    </ul>
</div>