<div>
    <nav class="navbar">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/"><img src="/images/hackbulogo.png" width="40" height="40"></a>
                <a class="navbar-item" href="/quiz/">All Quizzes</a>
                <a class="navbar-item"href="/quiz/new">Create Quiz</a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item"><%=user.name%></a>
                <a class="navbar-item is-right" href="/logout">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <br>
        <h3 class="subtitle is-4">Welcome to Binghamton University Quiz Portal</h3>
        <div class="columns">
            <div class="column">
                <p>
                    You can now add new quizzes along with location of the room and ip of the network.
                    You can view submissions in real-time and check the location of the student submission as well as 
                    compare the ip with the subnet you are connected to.
                    <br>
                    Happy Teaching!
                </p>
            </div>
            <div class="column"></div>
            <div class="column"></div>
        </div>
    </div>
    
</div>