<div>
    <h2>
        Student Home
    </h2>
    <nav>
        <ul>
            <li><a href="/quiz/take">Open Quizzes</a></li>
            <li><a href="/quiz/submitted">Submitted Quiz</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <h3>Hello <%=user.name%></h3>
</div>