<nav class="navbar is-light">
    <a class="navbar-item" href="/"><img src="/images/hackbulogo.png" width="40" height="40"></a>
    <a class="navbar-item" href="/register">Register</a>
    <a class="navbar-item" href="/login">Login</a>
</nav>