<nav class="navbar is-light">
    <a class="navbar-item" href="/"><img src="/images/hackbulogo.png" width="40" height="40"></a>
    <a class="navbar-item" href="/register">Register</a>
    <a class="navbar-item" href="/login">Login</a>
</nav>
<div class="container">
    <br>
    <h3 class="subtitle is-4">Welcome to Binghamton University Quiz Portal</h3>
    <div class="columns">
        <div class="column">
            <p>
                This is your BUQuiz Student Portal. An instructor can add quizzes to the portal.
                Students can find available quizzes for you in the open quiz tab. 
                Students might be required to submit IPs for location tracking along with your quiz depending upon
                instructors' requirements.
                Students can check their previous submissions as well. 
                <br>
                Happy Quizzing!
            </p>
        </div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
</div>