<%- include('../../dashboard/instructor') %>
<div>
    <h2>Quizzes</h2>
    <ul>
        <% quizzes.forEach(quiz =>{ %>
            <li><%=quiz.title%> <a href="/quiz/summary/<%=quiz.id%>">Open Submission</a></li>
        <% }) %>
    </ul>
</div>