<%- include('../../dashboard/instructor') %>
<div>
    <h2>Submissions</h2>
    <ul>
        <% submissions.forEach(submission =>{ %>
            <li><%=submission.submission.user%> <%=submission.inClass%>metres </li>
        <% }) %>
    </ul>
</div>