<%- include('../dashboard/instructor') %>
<form action="/quiz" method="post">    
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" value="<%=quiz.title%>">
    </div>
    <div class="form-group">
        <label>Open for submission</label>
        <input type="checkbox" class="form-control" name="status" checked="">
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" id="lat" name="latitude">
        <input type="hidden" class="form-control" id="long" name="longitude">
    </div>
    <div class="form-group">
        <label>Location</label>
        <input type="button" class="form-control"  name="location" onclick="getLocation()">
    </div>
    <div class="form-group">
        <label>IP/Router ID</label>
        <input type="text" class="form-control" name="ip">
    </div>
    <button type="submit" class="btn btn-warning btn-lg">Create</button>
</form>

<hr>
<script>
    var lat = document.getElementById("lat");
    var long = document.getElementById("long");
    function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
    }
    function showPosition(position) {
        lat.value=position.coords.latitude;
        long.value=position.coords.longitude;

    }

</script>