<%- include('../dashboard/student') %>
<div class="container">
    <div class="columns">
        <div class="column"></div>
    <div class="column">
        <h2 class="subtitle is-3">Open Quizzes</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date Created</th>
                    <th>Submit</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Title</th>
                    <th>Date Created</th>
                    <th>Submit</th>
                </tr>
            </tfoot>
            
            <tbody>
                <% quizzes.forEach(quiz =>{ %>
                    <tr>
                        <td><%=quiz.title%></td>
                        <td><%=quiz.date%></td>
                        <td><a href="/quiz/<%=quiz.id%>"> Take Quiz</a></td>
                    </tr>
                <% }) %>
            </tbody>

        </table>

    </div>
    <div class="column"></div>

</div>
</div>