<%- include('../partials/header')%>
<h1>Hello <%= user.name  %> </h1>
<div>
    <h2>Submitted Quizzes</h2>
    <ul>
        <li>submitted quiz 1</li>
        <li>submitted quiz 2</li>
    </ul>
</div>